@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@









@model List<BE.Blog>
@if (Model.Count() != 0)
{

    <section class="blog section-padding bg-gray" data-scroll-index="5">


        <div class="container">
            <div class="row">

                <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                    <h4><span>آخرین</span> بلاگ</h4>

                </div>

                <div class="owl-carousel owl-theme">


                    @foreach (var item in Model)
                    {

                        <div class="item">
                            <div class="row">
                                <div class="post-img col-lg-6 bg-img bg-center" data-background="/image/Pack/@item.Picture"></div>
                                <div class="cont col-lg-6">
                                    <div class="info">
                                        <a href="#0">توسط : @item.User.Name</a>
                                        <a href="#0">
                                            @{
                                                TimeSpan timeSince = DateTime.Now - item.Date;
                                                string formattedTime = FormatTimeSpan(timeSince);
                                            }

                                            <small>@formattedTime</small>
                                        </a>
                                        <a href="#0" class="tag">@item.Category.Name</a>
                                    </div>
                                    <h6><a href="#0">@item.Name</a></h6>
                                    <p>
                                        @{
                                            var con = item.Content.ToString();
                                            // İçeriği 200 karaktere kısalt
                                            string connt = con.Length > 200 ? con.Substring(0, 200) : con;
                                            // Son kelimenin tam olarak kesildiğinden emin ol
                                            connt = connt.Substring(0, connt.LastIndexOf(" "));
                                        }
                                        @Html.Raw(connt)
                                    </p>
                                    <a href="/BlogDet/Index/@item.id" class="more">بیشتر بخوانید <i class="fas fa-chevron-left"></i></a>
                                </div>
                            </div>
                        </div>

                    }

                </div>

            </div>
        </div>
    </section>
}
<script>
    @functions {
        string FormatTimeSpan(TimeSpan timeSpan)
        {
            if (timeSpan.TotalSeconds < 60)
            {
                return "Şimdi";
            }
            else if (timeSpan.TotalMinutes < 60)
            {
                return $"{(int)timeSpan.TotalMinutes} minute ago";
            }
            else if (timeSpan.TotalHours < 24)
            {
                return $"{(int)timeSpan.TotalHours} hours ago";
            }
            else if (timeSpan.TotalDays < 7)
            {
                return $"{(int)timeSpan.TotalDays} day ago";
            }
            else
            {
                int weeks = (int)(timeSpan.TotalDays / 7);
                return $"{weeks} week ago";
            }
        }
    }
</script>