
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@







<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
</head>


@model IEnumerable<BE.About >


<br />

<div class="col-lg-4">
    <div class="container p-1 m-2">
        @foreach (var item in Model)
        {
            <table style="display:none">
                <tr style="display:none">
                    <td style="display:none ">@item.id</td>
                </tr>
            </table>
           
            <div class="card" style="width:400px">
                <img class="card-img-top" src="~/image/Pack/@item.İmage1" alt="Card image" style="display:flex">
                <div class="card-body">
                    <h4 class="card-title">@item.Name</h4>
                    <h5 class="card-title">@item.Title1</h5>
                    
                    
                    
                    <p class="card-text">@Html.Raw(item.Content)</p>
                    <br/>
                    <img class="card-img-top" src="~/image/Pack/@item.İmage2" alt="Card image" style="display:flex">
                    <h5 class="card-title">@item.Title2</h5>
                    <p class="card-text">@Html.Raw(item.Content2)</p>
                    <div class="card-title">
                        <iframe src="@item.MapLocation" width="100%" height="100%"></iframe>
                        </div>
                    <button onclick="location.href='@Url.Action("Update", "Aboute", new { id = item.id })'" class="btn btn-info  dim" type="button">
                        <i class="fa fa-cog"></i>
                    </button>
                    <button onclick="confirmDelete('@item.id')" class="btn btn-danger  dim " type="button"><i class="fa fa-trash"></i></button>

                </div>
            </div>
        }
    </div>
</div>

<br>




<script>
    function confirmDelete(itemId) {
        // SweetAlert ile bir onay iletişi göster0
        Swal.fire({
            title: 'Are you sure?',
            text: 'Are you sure you want to delete this item?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // Kullanıcı evet'e tıkladığında, silme işlemini gerçekleştir
                window.location.href = "/Admin/Aboute/Delete/" + itemId;
            }
        });
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>