
@{
    ViewData["Title"] = "NewUser";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}





@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@model IEnumerable<BE.Notification >

<head>



    <link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" />

    <style type="text/css">
        .hidden {
            display: none;
        }

        .content-cell {
            max-height: 100px; /* Hücre yüksekliği */
            overflow-y: auto; /* Dikey kaydırma çubuğu */
            overflow-x: hidden; /* Yatay kaydırma çubuğunu gizle */
        }

            .content-cell img {
                max-width: 100px; /* Görüntülerin boyutlarını ayarla */
                height: auto;
            }
    </style>
    <link href="~/jsadmin/statuscss/stylesheet.css" rel="stylesheet" />
</head>

<div class="col-lg-12">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>Message  Table </h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="hidden">#</th>
                        <th>Title1</th>
                        <th>Content</th>
                        <th>Date</th>
                        <th>Type</th>
                        <th>NotificationStatus</th>
                       

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="hidden">@item.Id</td>
                            <td>@item.Title</td>
                            <td>@item.Message</td>
                            <td>@item.Timestamp.ToShortDateString()</td>
                            <td>@item.Type</td>
                            <td>
                                <input id="s1_@item.Id" type="checkbox" class="switch" @(item.ReadStatus ? "checked" : "") onchange="updateStatus(@item.Id, this)">
                            </td>
                           
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



<script>
    function updateStatus(itemId, checkbox) {
        var newStatus = $(checkbox).is(':checked');

        $.ajax({
            url: '/Admin/Notification/UpdateStatus',
            type: 'POST',
            data: {
                id: itemId,
                status: newStatus
            },
            success: function (response) {
                if (response.success) {
                    $(checkbox).prop('checked', newStatus);
                } else {
                    alert('Status update failed');
                }
            },
            error: function () {
                alert('An error occurred');
            }
        });
    }

</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


