@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@model List<BE.Blog>

@{
    var cardColors = new List<string> { "projcard-blue", "projcard-red", "projcard-green", "projcard-customcolor" };
    Random random = new Random();
}

@foreach (var blog in Model)
{
    var randomColorClass = cardColors[random.Next(cardColors.Count)];
    <a href="@Url.Action("Index", "BlogDet", new { id = blog.id })" class="projcard @randomColorClass">
        <div class="projcard @randomColorClass">

            <div class="projcard-innerbox">
                <img class="projcard-img" src="~/image/Pack/@blog.Picture" alt="Blog Image" />
                <div class="projcard-textbox">
                    <div class="projcard-title">@blog.Title</div>
                    <div class="projcard-subtitle">@blog.Name</div>
                    <div class="projcard-bar"></div>
                    <div class="projcard-description">
                        @{
                            var con = blog.Content.ToString();
                            // İçeriği 200 karaktere kısalt
                            string connt = con.Length > 200 ? con.Substring(0, 200) : con;
                            // Son kelimenin tam olarak kesildiğinden emin ol
                            connt = connt.Substring(0, connt.LastIndexOf(" "));
                        }
                        @Html.Raw(connt)
                    </div>

                </div>
            </div>

        </div>
    </a>
}
