@{
    Layout = null;
}


@model IEnumerable<BE.Portfolio>
@{
    int i = 0;
}
@foreach (var item in Model)
{
    if (i==5)
    {
        <!-- gallery item -->
        <div class="col-lg-6 col-md-6 items @item.Portfoliocategory.id">
            <div class="item-img">
                <img src="~/image/Pack/@item.Picture" alt="image">
                <div class="item-img-overlay">
                    <div class="overlay-info full-width">
                        <p> @item.Title </p>
                        <h6> @item.Brand </h6>
                        <a href="~/image/Pack/@item.Picture" class="popimg">
                            <span class="icon"><i class="fas fa-long-arrow-alt-left"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
       
    }
    else
    {
        <!-- gallery item -->
        <div class="col-lg-3 col-md-6 items @item.Portfoliocategory.id">
            <div class="item-img">
                <img src="~/image/Pack/@item.Picture" alt="image">
                <div class="item-img-overlay">
                    <div class="overlay-info full-width">
                        <p> @item.Title </p>
                        <h6> @item.Brand </h6>
                        <a href="~/image/Pack/@item.Picture" class="popimg">
                            <span class="icon"><i class="fas fa-long-arrow-alt-left"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
    i++;
}