@model IEnumerable<BE.Package>
<head>
    <style>
        .price .row {
            display: flex;
            flex-wrap: wrap;
        }

        .price .col-md-4 {
            display: flex;
            flex: 1;
            margin-bottom: 30px;
        }

        .price .item {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 400px; /* Gerektiğinde bu değeri ayarlayabilirsiniz */
            padding: 20px;
            box-sizing: border-box;
        }

        .price .features {
            flex-grow: 1;
        }

        .price .order {
            margin-top: 20px;
        }

    </style>
</head>
@{
    int i = 0;
}
@if (Model.Count() != 0)
{
    <section class="price section-padding bg-gray" data-scroll-index="4">
        <div class="container">
            <div class="row">
                <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                    <h4> <span>قیمت های</span></h4>
                    <p>طراحی سایت</p>
                </div>

                <div class="text-center offset-lg-1 col-lg-10">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-4">
                                @if (i == 1)
                                {
                                    <div class="item active bg-img bg-center mb-md50" data-overlay-color="9" data-background="/simba/img/bg2.jpg">
                                        <div class="type">
                                            <h4>@item.Name</h4>
                                        </div>
                                        <div class="value">
                                            <h3><span>$</span>@item.Price</h3>
                                        </div>
                                        <div class="order">
                                            <a href="https://wa.me/905369223407" class="butn butn-light butn-radius">
                                                <span>اکنون بخرید</span>
                                            </a>
                                        </div>
                                        <div class="features">
                                            <ul>
                                                <li>@item.Title</li>
                                                <li>@item.Title2</li>
                                                <li>@item.Title3</li>
                                                <li>@item.Title4</li>
                                                <li>@item.Title5</li>
                                                <li>@item.Title6</li>
                                                <li>@item.Title7</li>
                                                <li>@item.Title8</li>
                                                <li>@item.Title9</li>
                                                <li>@item.Title10</li>
                                            </ul>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="item mb-md50">
                                        <div class="type">
                                            <h4>@item.Name</h4>
                                        </div>
                                        <div class="value">
                                            <h3><span>$</span>@item.Price</h3>
                                        </div>
                                        <div class="order">
                                            <a href="https://wa.me/905369223407" class="butn butn-bg butn-radius">
                                                <span>اکنون بخرید</span>
                                            </a>
                                        </div>
                                        <div class="features">
                                            <ul>
                                                <li>@item.Title</li>
                                                <li>@item.Title2</li>
                                                <li>@item.Title3</li>
                                                <li>@item.Title4</li>
                                                <li>@item.Title5</li>
                                                <li>@item.Title6</li>
                                                <li>@item.Title7</li>
                                                <li>@item.Title8</li>
                                                <li>@item.Title9</li>
                                                <li>@item.Title10</li>
                                            </ul>
                                        </div>
                                    </div>
                                }
                            </div>
                            i++;
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}
