@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <style>



        input[type='checkbox'],
        input[type='radio'] {
            --active: #275EFE;
            --active-inner: #fff;
            --focus: 2px rgba(39, 94, 254, .3);
            --border: #BBC1E1;
            --border-hover: #275EFE;
            --background: #fff;
            --disabled: #F6F8FF;
            --disabled-inner: #E1E6F9;
            -webkit-appearance: none;
            -moz-appearance: none;
            height: 21px;
            outline: none;
            display: inline-block;
            vertical-align: top;
            position: relative;
            margin: 0;
            cursor: pointer;
            border: 1px solid var(--bc, var(--border));
            background: var(--b, var(--background));
            transition: background .3s, border-color .3s, box-shadow .2s;
            &:after

        {
            content: '';
            display: block;
            left: 0;
            top: 0;
            position: absolute;
            transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
        }

        &:checked {
            --b: var(--active);
            --bc: var(--active);
            --d-o: .3s;
            --d-t: .6s;
            --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
        }

        &:disabled {
            --b: var(--disabled);
            cursor: not-allowed;
            opacity: .9;
            &:checked

        {
            --b: var(--disabled-inner);
            --bc: var(--border);
        }

        & + label {
            cursor: not-allowed;
        }

        }

        &:hover {
            &:not(:checked)

        {
            &:not(:disabled)

        {
            --bc: var(--border-hover);
        }

        }
        }

        &:focus {
            box-shadow: 0 0 0 var(--focus);
        }

        &:not(.switch) {
            width: 21px;
            &:after

        {
            opacity: var(--o, 0);
        }

        &:checked {
            --o: 1;
        }

        }

        & + label {
            font-size: 14px;
            line-height: 21px;
            display: inline-block;
            vertical-align: top;
            cursor: pointer;
            margin-left: 4px;
        }

        }

        input[type='checkbox'] {
            &:not(.switch)

        {
            border-radius: 7px;
            &:after

        {
            width: 5px;
            height: 9px;
            border: 2px solid var(--active-inner);
            border-top: 0;
            border-left: 0;
            left: 7px;
            top: 4px;
            transform: rotate(var(--r, 20deg));
        }

        &:checked {
            --r: 43deg;
        }

        }

        &.switch {
            width: 38px;
            border-radius: 11px;
            &:after

        {
            left: 2px;
            top: 2px;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            background: var(--ab, var(--border));
            transform: translateX(var(--x, 0));
        }

        &:checked {
            --ab: var(--active-inner);
            --x: 17px;
        }

        &:disabled {
            &:not(:checked)

        {
            &:after

        {
            opacity: .6;
        }

        }
        }
        }
        }

        input[type='radio'] {
            border-radius: 50%;
            &:after

        {
            width: 19px;
            height: 19px;
            border-radius: 50%;
            background: var(--active-inner);
            opacity: 0;
            transform: scale(var(--s, .7));
        }

        &:checked {
            --s: .5;
        }

        }
        }

        // Demo

        ul {
            margin: 12px;
            padding: 0;
            list-style: none;
            width: 100%;
            max-width: 320px;
            li

        {
            margin: 16px 0;
            position: relative;
        }

        }

        body {
            margin-top: 20px;
            background-color: #e9ebee;
        }

        .be-comment-block {
            margin-bottom: 50px !important;
            border: 1px solid #edeff2;
            border-radius: 2px;
            padding: 50px 70px;
            border: 1px solid #ffffff;
        }

        .comments-title {
            font-size: 16px;
            color: #262626;
            margin-bottom: 15px;
            font-family: 'Conv_helveticaneuecyr-bold';
        }

        .be-img-comment {
            width: 60px;
            height: 60px;
            float: left;
            margin-bottom: 15px;
        }

        .be-ava-comment {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        .be-comment-content {
            margin-left: 80px;
        }

            .be-comment-content span {
                display: inline-block;
                width: 49%;
                margin-bottom: 15px;
            }

        .be-comment-name {
            font-size: 13px;
            font-family: 'Conv_helveticaneuecyr-bold';
        }

        .be-comment-content a {
            color: #383b43;
        }

        .be-comment-content span {
            display: inline-block;
            width: 49%;
            margin-bottom: 15px;
        }

        .be-comment-time {
            text-align: right;
        }

        .be-comment-time {
            font-size: 11px;
            color: #b4b7c1;
        }

        .be-comment-text {
            font-size: 13px;
            line-height: 18px;
            color: #7a8192;
            display: block;
            background: #f6f6f7;
            border: 1px solid #edeff2;
            padding: 15px 20px 20px 20px;
        }

        .form-group.fl_icon .icon {
            position: absolute;
            top: 1px;
            left: 16px;
            width: 48px;
            height: 48px;
            background: #f6f6f7;
            color: #b5b8c2;
            text-align: center;
            line-height: 50px;
            -webkit-border-top-left-radius: 2px;
            -webkit-border-bottom-left-radius: 2px;
            -moz-border-radius-topleft: 2px;
            -moz-border-radius-bottomleft: 2px;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        .form-group .form-input {
            font-size: 13px;
            line-height: 50px;
            font-weight: 400;
            color: #b4b7c1;
            width: 100%;
            height: 50px;
            border: 1px solid #edeff2;
            border-radius: 3px;
        }


        .be-comment-text {
            word-wrap: break-word;
            overflow-wrap: break-word;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        h4 {
            font-size: 1.5em;
            margin: 0 0 10px 0;
        }

        p {
        }</style>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>


@model IEnumerable<BE.Package >




<div class="offset-lg-3 col-lg-12" >
   
      
        @foreach (var item in Model)
        {
        <div class="container p-1 m-2" style="width:80%;">
            <table style="display:none">
                <tr style="display:none">
                    <td style="display:none ">@item.id</td>
                </tr>
            </table>
            
            <div class="card" style="width:400px">
                <img class="card-img-top" src="~/image/Pack/@item.Picture" alt="Card image" style="display:flex">
                <div class="card-body">
                    <div>
                        <input id="s1_@item.id" type="checkbox" class="switch" @(item.Status ? "checked" : "") onchange="updateStatus(@item.id, this)">
                        <label for="s1_@item.id">Status</label>
                    </div>
                    <h4 class="card-title">@item.Title</h4>
                    <h5 class="card-title">@item.Price $</h5>
                    <p class="card-text">@Html.Raw(item.Content)</p>

                    <button onclick="location.href='@Url.Action("Update", "Package", new { id = item.id })'" class="btn btn-info  dim" type="button">
                        <i class="fa fa-cog"></i>
                        </button>
                    <button onclick="confirmDelete('@item.id')" class="btn btn-danger  dim " type="button"><i class="fa fa-trash"></i></button>
                   
                </div>
            </div>
        </div>
        }
  
</div>

<br>


<span class="lnr lnr-cog"></span>

<script>
    function updateStatus(itemId, checkbox) {
        var newStatus = $(checkbox).is(':checked');

        $.ajax({
            url: '/Admin/Package/UpdateStatus',
            type: 'POST',
            data: {
                id: itemId,
                status: newStatus
            },
            success: function (response) {
                if (response.success) {
                    $(checkbox).prop('checked', newStatus);
                } else {
                    alert('Status update failed');
                }
            },
            error: function () {
                alert('An error occurred');
            }
        });
    }
    function confirmDelete(itemId) {
        // SweetAlert ile bir onay iletişi göster0
        Swal.fire({
            title: 'Are you sure?',
            text: 'Are you sure you want to delete this item?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // Kullanıcı evet'e tıkladığında, silme işlemini gerçekleştir
                window.location.href = "/Admin/Package/Delete/" + itemId;
            }
        });
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>