@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


@model IEnumerable<BE.Package >


<h1>List</h1>
<br />
@foreach (var item in Model)
{
    <div class="container p-1">
        <table style="display:none">
            <tr style="display:none">
                <td style="display:none ">@item.id</td>
            </tr>
        </table>
        <h2>@item.Name</h2>
        <div class="card" style="width:400px">
            <img class="card-img-top" src="~/image/Pack/@item.Picture" alt="Card image" style="display:flex">
            <div class="card-body">
                <h4 class="card-title">@item.Title</h4>
                <h5 class="card-title">@item.Price $</h5>
                <p class="card-text">@item.Content</p>
                <a href="/Admin/Package/Update/@item.id" class="btn btn-success btt">Update</a>

                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    <br>


}

