@{
    ViewData["Title"] = "Update ";
    Layout = "~/areas/admin/views/shared/adminlayout.cshtml";
}


<head>
    <link href="~/AdminTema/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminTema/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/AdminTema/css/animate.css" rel="stylesheet">
    <link href="~/AdminTema/css/plugins/dropzone/basic.css" rel="stylesheet">
    <link href="~/AdminTema/css/plugins/dropzone/dropzone.css" rel="stylesheet">
    <link href="~/AdminTema/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminTema/css/plugins/codemirror/codemirror.css" rel="stylesheet">
    <link href="~/AdminTema/css/style.css" rel="stylesheet">
    <script src="https://cdn.tiny.cloud/1/xs0kxyfwqm84rx29r0awvmsbi2pi16o0ng5kvd4wniwf7bl7/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
</head>

<div class="row">
    <div class="col-lg-12">
        <h2> <i class="fa fa-info-circle"></i> <span class="nav-label">  Update About Us </span></h2>
    </div>
</div>






<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Update</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" enctype="multipart/form-data" autocomplete="off">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Name<text class="text text-danger">*</text></label>
                            <div class="col-sm-10"><input type="text" class="form-control" value="@ViewBag.Name" id="PName" name="Name"></div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Title1<text class="text text-danger">*</text></label>
                            <div class="col-sm-10"><input type="text" class="form-control" value="@ViewBag.Tit" id="PTitle" name="Title1"></div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Title2</label>
                            <div class="col-sm-10"><input type="text" class="form-control" id="PTitle" value="@ViewBag.Tit2" name="Title2"></div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Location Link</label>
                            <div class="col-sm-10"><input type="text" class="form-control" value="@ViewBag.map" id="PTitle" name="MapLocation"></div>
                        </div>
                        <div class="hr-line-dashed"></div>


                        <div class="form-group row">

                            <label class="col-sm-2 col-form-label">Content1<text class="text text-danger">*</text></label>
                            <div class="col-sm-10">
                                <textarea class="form-control" name="Content" style="height: 150px;" id="tiny">@ViewBag.Content</textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Content2</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" name="Content2" style="height: 150px;" id="tiny">@ViewBag.Content2</textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>


                        <div class="form-group row">
                            <img id="preview1" src="~/image/Pack/@ViewBag.Pic" alt="Resim önizleme" style="display:flex;" class="card-img-top m-2 p-2" />
                            <div class="custom-file">
                                <input id="logo1" type="file" class="custom-file-input" name="İmage1">
                                <label for="logo1" class="custom-file-label">Choose file...<text class="text text-danger">*</text></label>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>


                        <div class="form-group row">
                            <img id="preview2" src="~/image/Pack/@ViewBag.Pic2" alt="Resim önizleme" style="display:flex;" class="card-img-top m-2 p-2" />
                            <div class="custom-file">
                                <input id="logo2" type="file" class="custom-file-input" name="İmage2">
                                <label for="logo2" class="custom-file-label">Choose file...</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class=" col-form-label text-danger">@Html.ValidationSummary()</label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="form-group row">

                                    <button class="btn btn-primary  dim" id="PBtn" type="submit">
                                        <i class="fa fa-floppy-o"></i>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


      

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<script src="~/AdminTema/js/jquery-3.1.1.min.js"></script>
<script src="~/AdminTema/js/popper.min.js"></script>
<script src="~/AdminTema/js/bootstrap.js"></script>
<script src="~/AdminTema/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/AdminTema/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/AdminTema/js/inspinia.js"></script>
<script src="~/AdminTema/js/plugins/pace/pace.min.js"></script>


<script>
    $(document).ready(function () {
        $('#logo').on('change', function () {
            let fileName = $(this).val().split('\\').pop();
            $(this).next('.custom-file-label').addClass("selected").html(fileName);
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#preview').attr('src', e.target.result);
                }
                reader.readAsDataURL(this.files[0]);
            }
        });

        function setupFileInputChangeHandler(inputId, previewId) {
            $('#' + inputId).on('change', function () {
                let fileName = $(this).val().split('\\').pop();
                $(this).next('.custom-file-label').addClass("selected").html(fileName);
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#' + previewId).attr('src', e.target.result);
                    }
                    reader.readAsDataURL(this.files[0]);
                }
            });
        }

        setupFileInputChangeHandler('logo1', 'preview1');
        setupFileInputChangeHandler('logo2', 'preview2');
        tinymce.init({
            selector: 'textarea#tiny'
        });
        // Prevent Bootstrap dialog from blocking focusin
        $(document).on('focusin', function (e) {
            if ($(e.target).closest(".tox-tinymce, .tox-tinymce-aux, .moxman-window, .tam-assetmanager-root").length) {
                e.stopImmediatePropagation();
            }
        });
    });
</script>

